<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>${title}</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <h1>${header1}</h1>
    <p>
      A role-playing game (RPG) is a game in which each participant assumes the
      role of a character that can interact within the game's imaginary world.
      Many RPGs are set in fantasy or science fiction environments. Among the
      earliest and most popular RPGs are Dungeons and Dragons (D&D), BattleTech,
      and Star Wars Galaxies. Compared to <a href="linkedPage.html">FPS</a>.
    </p>
  </body>
</html>
