<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>${title}</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <h1>${header2}</h1>
    <p>
      A first person shooter (FPS) is a genre of action video game that is
      played from the point of view of the protagonist. FPS games typically map
      the gamer’s movements and provide a view of what an actual person would
      see and do in the game. Compared to <a href="home.html">RPG's</a>.
    </p>
  </body>
</html>
